.hero-experience {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;   
}

.hero-experience::before {
    content: "";
    background-image: url('../../assets/images/image6.jpeg');
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    opacity: 0.60;
}



