



.home {
    width: 100%;
    align-items: center;
    font-family: "Arial", sans-serif;
    color: #09256d;
}

img {
    width: 200px url('../../assets/images/image5.jpeg');
    height: auto;
    display: flex;
    border-style: hidden;
    border-radius: 50%;
}

.btn.btn-1 {
    background-color: #09256d;
    margin: 0px;

}

.about {
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #09256d;
    color: #f0f0f0; 
}

.about h2 {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 80px;
    color: #ebce2a;
    height: 50px;
}

.about .prompt {
    width: 40%;
    font-size: 30px;
}

.prompt svg {
    background-color: #09256d;
    font-size: 60px;
    margin: 0px;
    color: #ebce2a;
}

.skills::before {
    content: "";
    background-color: #09256d;
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    opacity: 0.10;
}

.skills {
    position: relative;
    /* background-color: #09256d; */
    font-size: 35px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


.hero-skills {
    position: relative;
    background-image: url('../../assets/images/image4.jpeg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #09256d;
}


.skills h1 {
    position: relative;
    color: #f0f0f0;
    text-shadow: #09256d 1px 2px ;
    text-align: center;
}

.skills .list {
    position: relative;
    list-style: none;
    text-shadow: #f0f0f0 1px 2px;
    width: 60%;
    
}

.list span {
    position: relative;
    font-size: 20px;
}

@media only screen and (max-width: 600px) {
    .about h2 {
        font-size: 40px;
    }

    .about .prompt {
        margin-top: 10px;
        font-size: 20px;
        width: 80%;
    }

    .skills {
        text-align: center;
    }

    .list {
        padding: 0;

    }

    .skills h2 {
        font-size: 30px;
    }
}