.hero-projects {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;   
}

.hero-projects::before {
    content: "";
    background-image: url('../../assets/images/image6.jpeg');
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    opacity: 0.60;
}


.projects {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.projects .projectTitle {
    text-align: center;
    color: #09256d ;
    font-size: 60px;
    font-weight: bolder;
}

.projectList {
    position: relative;
    width: 70vw;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
}

.projectItem {
    border-radius: 15px;
    width: 300px;
    height: 300px;
    margin: 40px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.projectItem:hover {
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in;
    cursor: pointer;
}

.projectItem .bgImage {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.projectItem h1 {
    position: relative;
    font-size: 25px;
}

@media only screen and (max-width: 1200px) {
    .projectList {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 768px) {
    .projectList {
        grid-template-columns: 1fr;
    }
}

@media only screen and (max-width: 768px) {
    .projectList {
        width: 100%;
    }

    .projectItem {
        width: 300px;
        height: 300px;
    }
}